
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Sample App</h1>
    <p class="lead">This is the home page for the sample app.</p>
    <p><%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary", role: "button" %></p>

  </div>
</div>