<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Toy App</h1>
    <p class="lead">This is the home page for the Toy app.</p>
    <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button" %></p>
  </div>
</div>
