<% provide(:title, 'Edit User') %>
<% provide(:submit_text, 'Save changes') %>

<div class="container">
  <h1>Update your profile</h1>

  <%= render 'form', user: @user %>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <%= link_to  "change", "http://gravatar.com/emails", target: "_blank", rel: "noopener" %>
  </div>
</div>
