<% provide(:title, 'Sign up') %>
<% provide(:submit_text, 'Create User') %>

<div class="row justify-content-center">
  <div class="col-6">
    <h1>Sign up</h1>
    <%= render 'form', user: @user %>
  </div>
</div>
