<% provide(:body_class, 'bg-light') %>

<div class="container">
  <h1>Microposts</h1>

  <%= will_paginate @microposts %>
  <ol class="list-unstyled microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
</div>
