<% if flash.any? %>
  <% flash[:info] = notice if notice  %>
  <% flash[:danger] = alert if alert  %>
  <% flash.delete(:notice) %>
  <% flash.delete(:alert) %>
  <div class="container mt-2">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
