<footer class="container">
  <p>
    <span>© 2019 Manu Phatak</span>
    <span> · </span>
    <span><%= link_to  "About", about_path%></span>
    <span> · </span>
    <span><%= link_to  "Contact", contact_path %></span>
  </p>
</footer>
